[2021-08-03 14:01] hairmenu opened #1 "TypeError: withTranslateRoutes is not a function"
Hi

i was so happy to find this package because it matches 100% of the needs and i could not agree more with the motivation. However, i made a fresh Next.js install then just `npm install next-translate-routes` so my package looks like this
`{
  "name": "next-poc",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",

[2021-08-18 13:49] PrimozRome opened #2 "Can someone add more documentation on routes.json ?"
I am having hard time understanding these and how to define route? Is there anyone that can help me?

2. Define your routes

In the pages folder, and in each of its subfolders, add a routes.json file with the following:

[code]

The "/" section define the folder paths, each other section define the paths of a page file in this folder.

[2021-11-08 15:50] mcpll opened #3 "Next 12 crash"
Hi all,
i try to use your plugin with next 12.
But after update i received this error:

TypeError: Cannot read property 'push' of null
    at enhanceNextRouter (/node_modules/next-translate-routes/index.js:231:19)

[2021-11-15 08:25] mxsotomayor commented on #3
Same issue here, on _app.tsx file, when wrapping with withTranslateRoutes.

[2021-11-17 11:41] pilleck commented on #3
Hey, we have the same issue! :-)

[2021-11-24 17:02] pilleck commented on #3
Hey @cvolant can you may take a look at this issue? Thank you in advance! 🙏

[2021-11-25 08:15] cvolant commented on #3
@pilleck I will try to make it compatible with Next 12 by the end of the week.

[2021-11-25 10:32] pilleck commented on #3
Thank you @cvolant! 😍

[2021-11-25 16:36] cvolant commented on #1
Since you posted this issue (a while ago, sorry that I did not answer it), fixes and improvements have been added, and it should be fixed for some time now. I am closing this issue: if it is not fixed for you with the new version, please add a comment (if possible, with a link to a repro so that I can identify what is wrong): I will reopen it.

[2021-11-25 16:36] #1 closed

[2021-11-25 21:15] cvolant commented on #2
There is no need to add a `routes.json` file if you don't want to customize the routes in this subfolder.
I updated the readme: I hope it is clearer now.

[2021-11-25 21:21] cvolant commented on #2
Let me know if it is not clear enough: I can reopen this issue.

[2021-11-25 21:21] #2 closed

[2021-11-25 21:37] cvolant commented on #3
Can you try the v1.5.5? I hope it solves you issue, but I am not sure since I cannot reproduce the bug you describe.
If it persists, could you post here a link to a repro so that I can investigate?

[2021-11-26 19:04] christoph-pflueger opened #4 "NextJS trailingSlash not supported"
NextJS has an option to configure trailing slashes in URLs: https://nextjs.org/docs/api-reference/next.config.js/trailing-slash

At the moment, this option causes mismatches between server and client.

[2021-11-26 19:14] git-chrisp opened #5 "NextJS Automatic Static Optimization not supported"
It seems that at the moment wrapping the entire App disables automatic static optimization for some pages. Any idea why this happens and how we can fix this?

[code]

[2021-12-07 09:22] #3 closed

[2021-12-07 09:28] cvolant commented on #5
Hi @git-chrisp, I don't see this warning... Could you give more info about these pages? Or better, could you create a reproduction so that I can have a look at it?

[2021-12-07 09:32] cvolant commented on #4
Hi @git-chrisp, I added the trailing slash option to the `next.config.js` in the repo example, and I don't experience any problem. Could you give more details, or better, a reproduction of the bug?

[2021-12-12 08:58] pilleck commented on #3
Hey @cvolant it works very well! Thank you 👍

[2021-12-12 18:20] AntoninBeaufort opened #6 "Vercel Functions : No routes tree defined."
Hi,

I'm currently migrating the frontend of my NextJS app from Amplify to Vercel and I have an error on SSR page that is converted by Vercel to a Function.

Environment :
- next-translate-routes: v1.5.5
- NextJS: v12.0.7

Here you can see the SSR part :

[code]

This part was running fine on Amplify, but know on the Vercel Function logs I can see this error :

[code]

This is my next.config.js :

[2021-12-14 13:53] cvolant commented on #6
In order to get the translations client side, the withTranslateRoutes plugin sets a [public env var](https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser) containing your routes tree. The next-translate-routes/link reads from this env var to translate the route.
You get the `> next-translate-routes - No routes tree defined. next-translate-route

[2021-12-14 18:39] dperetti opened #7 "routes.yaml ?"
It would be nice to be able to customize `ROUTES_DATA_FILE_NAMES` (which is currently a const in `config.tsx`) and support yaml.
Yaml would be perfect to define routes and allow comments!

[2021-12-16 08:39] wangwailok opened #8 "How to use Next-translate-routes with Typescript"
![Screenshot 2021-12-16 at 4 38 03 PM](https://user-images.githubusercontent.com/7417322/146336889-93c4ffa3-75ca-4a7c-bf63-0af1ebc2757c.png)

I have followed the sample on npm but the withTranslateRoutes function requires parameter of type 'ComponentType<AppProps>',
can anyone help?

[2021-12-19 19:57] L1lith commented on #5
@cvolant [Here](https://github.com/L1lith/Your-First-RPG/tree/translate) I have a real project that's not working with translations, when I try to statically export I get the following error:
[code]
This project is super awesome, if it could work with static exports that would be so great :)

[2021-12-19 20:38] cvolant commented on #5
Hi @L1lith ,
Many Next features are not supported by static exports, features that require some server-side logic (see https://nextjs.org/docs/advanced-features/static-html-export#unsupported-features). Next-translate-routes is built on top of 2 of them : redirects and rewrites. So I am sorry but it cannot achieve what you need. I will mention it in the docs.

Thinking about it, I won't say it is

[2021-12-19 20:54] cvolant commented on #5
Thinking about it further, there might be a solution, clean and maintainable : a postexport script that would move the page files to the file paths matching their URL. And it would be compatible with next-translate-routes.

[2021-12-19 21:36] L1lith commented on #5
I think this approach could work, but I think there are a couple other approaches that might be more directly supported

https://nextjs.org/docs/api-reference/next.config.js/exportPathMap
Wouldn't it be possible just to procedurally generate a exportPathMap in the withTranslateRoutes hook?

It may be necessary to create a withTranslateComponent (or some other name like this) hook to wrap around ou

[2021-12-20 21:22] cvolant commented on #5
Your idea is far better than mine. I did not remember of exportPathMap - I don't use export myself, so I may not be very helpful on that subject.

Looking at the docs, I can see that internationalized routing is not even supported by static html export ! Do you mean that it is what you want to solve ??

[2021-12-20 21:39] git-chrisp commented on #5
Reproduction of the issue: https://github.com/git-chrisp/next-translate-routes-nextjs-aso-bug

`npm run build`:

[code]

[2021-12-20 21:52] git-chrisp commented on #4
**Reproduction**: https://github.com/git-chrisp/next-translate-routes-nextjs-trailing-slash-bug

When visiting localhost:3000/de/ the following error is printed in the console:

[code]

[2021-12-21 00:04] L1lith commented on #5
Yes, to be honest I think this is a glaring gap in the functionality of Next.js, and it's frustrating because this issue basically exists across the major next translation libraries (I've tried next-translate and next-i18next and neither were a good solution considering I needed both effective routing support and export support). I appreciate your eagerness towards solving this problem, and your l

[2021-12-21 00:15] L1lith opened #9 "Implement a Service Worker integration?"
I know this is probably out of the scope of this project, but there's one feature I think would be sweet which is service worker integration. Currently I am using next-pwa, but it doesn't really fulfill my needs. Here's basically the service worker I need (I am considering just coding my own custom worker, but it would be cool to see an integration here):

The worker needs to cache the entire webs

[2021-12-21 12:26] dperetti commented on #6
Having the same issue of empty NEXT_PUBLIC_ROUTES environment variable.
So I tried to manually set it in Vercel's interface and got this.
![image](https://user-images.githubusercontent.com/845612/146929238-1f563748-e31c-4e76-be08-f59e7124fa22.png)
Then I tried to manually set it in next.config.js but using a fake, smaller one and it worked.
So it definitely appears that we've got a size limit issu

[2021-12-21 14:13] dperetti commented on #6
I'm afraid passing the stringified json routes via the `NEXT_PUBLIC_ROUTES` env is a dead end.
It probably has to be revamped so routes are loaded globally [like next-translate does with i18nConfig](https://github.com/vinissimus/next-translate/blob/a6b6550f21be6968ff5379e4b7885601b4a34bc7/src/appWithI18n.tsx#L57).

[2021-12-21 14:34] dperetti commented on #6
Actually it would even make sense to inject the routes into a property of `i18nConfig` and modify `getRoutesTree()` so it makes use of it.

[2021-12-21 18:59] cvolant commented on #6
Very interesting.
You are probably right about the env var being a dead end...

The problem with config injection by an app hoc is that it should be imported from a file. If I understand correctly, next-translate uses this method to make user-made config available client side, but in next-translate-routes case, it is some computed data.

- We could try to edit the config file and add computed valu

[2021-12-21 19:34] dperetti commented on #6
Unfortunately it's not 4KB per variable, it's 4KB in total!

Anyway, I had to find a quick and dirty workaround for the website I'm working on and here is what I did.

I forked your project and just [changed getRouteTree()](https://github.com/dperetti/next-translate-routes/blob/master/src/getEnv.ts) like this:

[code]
Now, in my project I have a command line script that generates a `routesTree.jso

[2021-12-21 20:50] L1lith commented on #5
I found a discussion about implementing this exact issue
https://github.com/vercel/next.js/issues/5509#issuecomment-432456576

[2021-12-22 08:21] cvolant commented on #7
Yes, I will try to include it in the next release.

[2021-12-22 08:50] cvolant commented on #8
Thanks for the report. It should be fixed in the next release.

[2021-12-22 09:00] cvolant commented on #6
Ok, so env var id definitely a dead end.
I think webpack DefinePlugin could do the job. I will try it, and if it does not, I will try something close to your solution.

[2021-12-22 20:50] L1lith opened #10 "Add scripts to run the project without yarn?"
I prefer npm or pnpm, it would be cool to have build scripts that ran without requiring yarn.

[2021-12-22 20:55] L1lith opened #11 "Yarn install fails"
I installed yarn and ran yarn install but it fails with the following error (the same thing happens with npm install)
[code]

[2021-12-22 22:42] cvolant commented on #5
vercel/next.js#5509 (comment)

If I understand the comment you linked, it is about reimplementing the internationalized routing by adding the locale in the query or something like this.
This is indeed out of the scope of this package. If you find a way to get the internationalized routing working with static export, then we could improve this package to manage the URLs translation in this context

[2021-12-22 23:24] L1lith commented on #5
Yeah I'm not 100% sure. I'm going to try to implement this myself and I'll let you know what my results are

[2021-12-23 10:26] cvolant commented on #9
I might consider this suggestion in a few months. But...
[code]

[2021-12-23 11:34] cvolant commented on #5
Hi @git-chrisp, I gave a look at your repro: the warning message you get does not come from next-translate-routes but from next-translate. Next-translate magically adds a getInitialProps to you MyApp component using webpack, and this getInitialProps is the source of the warning.
To be sure, you can have a look at the compiled code, or you can try with another App hoc, like next-redux-wrapper: you

[2021-12-23 11:34] #5 closed

[2021-12-23 12:34] cvolant commented on #4
At first, I could not reproduce: I don't know why, but I did not get the warning on Firefox. I tried on Chromium - just in case - and I got it.
I added a fix in the next release.

[2021-12-24 04:23] wangwailok commented on #8
Thank you very much!

[2021-12-27 08:04] wangwailok opened #12 "Support languages like Chinese and Japanese"
![image](https://user-images.githubusercontent.com/7417322/147449636-ee41dc5a-b20c-4b22-9fe5-eb84f3d5b988.png)
The package work just fine with english, but when I use languages in other unicode, it just doesn't work, is there any work around?

[2021-12-27 08:05] wangwailok commented on #12
![image](https://user-images.githubusercontent.com/7417322/147449795-f13fedd6-a0e9-48bb-b860-a4f80fe87080.png)

[2021-12-27 08:09] wangwailok commented on #12
![image](https://user-images.githubusercontent.com/7417322/147450029-3c4604f9-0aa1-4d81-9695-cae941b407e3.png)
I have just found out, if you are going to use locale with other unicode, you better URLencode before parsing into the _route.js

[2021-12-28 19:14] wangwailok opened #13 "cannot deploy to Vercel - next-translate-routes plugin is probably missing from next.config.js"
![image](https://user-images.githubusercontent.com/7417322/147599137-d5e6775a-086c-445c-a919-0c51938f103a.png)
![image](https://user-images.githubusercontent.com/7417322/147599152-758ca671-f143-4827-921b-7792b371bc54.png)
everything work just fine on my local machine with build and run, but it just doesn't work on Vercel's cloud

[2021-12-29 11:22] wangwailok commented on #13
Duplicate of #6

[2021-12-29 18:56] cvolant commented on #6
@AntoninBeaufort, @dperetti, @wangwailok, could you try with next-translate-routes@next and tell me if it works for you?

[2021-12-29 19:09] AntoninBeaufort commented on #6
I was just trying it out, the first mistake is gone, but the second one remains:

[code]

[2021-12-30 03:03] wangwailok commented on #6
I was trying the 1.7.0-1
![image](https://user-images.githubusercontent.com/7417322/147718312-50429bea-f0fc-4cb0-9626-1a39cc11cea7.png)

`error - ./pages/_app.tsx
Error: [next-translate-routes] - No withTranslateRoutes high order component found in _app.`

[2021-12-30 03:05] wangwailok commented on #6
![image](https://user-images.githubusercontent.com/7417322/147718407-4b370f28-e8ea-4755-8cd4-017438a3ca62.png)

[2021-12-30 11:03] cvolant commented on #6
Yes, it comes from next-i18next. If you remove next-translate-routes, do you still have the error?
Did you see this one: https://github.com/isaachinman/next-i18next/issues/1553

[2021-12-30 11:06] cvolant commented on #6
Ops, I see. I will fix it soon. For now you can try importing 'next-translate-routes' with single quotes.

[2021-12-30 13:06] AntoninBeaufort commented on #6
I don't know because I didn't need it, I've just added `localePath` in my next.config.js.
Like this :
[code]

[2021-12-30 13:06] #6 closed

[2021-12-30 16:30] wangwailok commented on #6
single quotes worked, but there is a parameter called  nextInternalLocale was injected on Vercel server, is there any solution? I just want to create canonical with translateUrl API:
![image](https://user-images.githubusercontent.com/7417322/147770269-dcd6943d-7eff-4fa5-a41e-c76023260a99.png)

[2022-01-05 17:06] cvolant commented on #4
Done. Please reopen this if it is not fixed for you.

[2022-01-05 17:07] cvolant commented on #7
Here it is. :santa:

[2022-01-05 17:07] #7 closed

[2022-01-05 17:08] cvolant commented on #8
It should be fixed now. Please reopen this issue if you still have the problem from v1.7.0.

[2022-01-05 17:08] #8 closed

[2022-01-05 17:09] cvolant commented on #10
From 1.7.0, it should work with npm.

[2022-01-05 17:09] #10 closed

[2022-01-05 17:09] cvolant commented on #11
It should be fixed with 1.7.0.

[2022-01-05 17:09] #11 closed

[2022-01-05 17:10] cvolant commented on #13
It should work with v1.7.0. It it does not, please reopen this issue.

[2022-01-05 17:10] #13 closed

[2022-01-13 11:07] meck93 opened #15 "Dependencies: Move Dependencies to PeerDependencies"
Hi @cvolant

Thanks a lot for the work on this project! I have a question/suggestion since this is a library can we move the `dependencies` to `dependencies` and `peerDependencies`. As I understand it the library currently requires the exact version of the specified packages or higher, correct?

I would be happy to provide a PR.

**old**
[code]

**new**
[code]

[2022-01-18 17:50] cvolant commented on #15
Yes you are right. I even started to do it some days ago.
I am not sure about path-to-regexp and yamljs thought, because users of next-translate-routes are supposed to use next and react, but not path-to-regexp and yamljs. What do you think?

And I think this would allow using next 11 and react 16.8:
[code]

[2022-01-19 08:25] meck93 commented on #15
I guess it depends. Are the dependencies `"path-to-regexp": "6.2.0", "querystring": "0.2.1", "yamljs": "0.3.0"` bundled into your library?
- If yes, they don't have to be listed as peer dependencies. Only as dependencies is fine.
- If no, and this library needs these dependencies for the execution and are not bundled into the package, then they should be listed as peer dependencies.

[2022-01-25 20:46] cvolant commented on #15
I am not sure what you mean by "bundled into the library"... What is the difference between bundled and unbundled dependencies?
Anyway, if you want to make a PR, you are welcome.

[2022-01-25 21:08] meck93 commented on #15
As a library author you can decide to list the dependencies your library needs as peer dependencies by this you tell the users of your library that you require them to install the dependencies when they want to use the library. For example, you can say that you support Next 11 and above using `"next": ">=11.x"`.

On the other hand, it is possible to bundle the dependencies into your library. This

[2022-02-23 14:57] JonasGreim opened #16 "Is there a way to translate dynamic pages?"
![image](https://user-images.githubusercontent.com/83757401/155342307-c0803668-aa86-4497-adb1-6bdde1973226.png)
![image](https://user-images.githubusercontent.com/83757401/155342602-d15e77f9-a05e-4b86-ac05-05a01347f46c.png)

Hey, is there a way how to translate specific named dynamic pages (like in the picture above with "hello")? The documentation/readme only explains how to restrict dynamic page

[2022-03-06 15:17] Bast1onCZ opened #17 "Bug - translateUrl"
Hello,
I've found a bug when trying <Link> a catch-all route (https://nextjs.org/docs/routing/dynamic-routes#catch-all-routes).

For a page represented by file in next `/pages/destination/[...destinationSlugs]`, when trying to use `<Link href="/destination/europe" />`, I receive replaced link `/destination/[...destinationSlugs]?destinationSlugs=europe` instead of `/destination/europe`.

The only p

[2022-03-08 10:07] cvolant commented on #16
That is indeed not supported, yet. But it might be possible...
It might be good, it might not be... :thinking: One must think about it twice before implementing that behavior.

[2022-03-09 15:10] cvolant commented on #17
@Bast1onCZ It should be fixed. Please tell me if you still experience this issue with 1.7.1.

[2022-03-09 15:13] cvolant commented on #15
@meck93 In the new 1.7.1 version, I moved next and react to peerDependencies. Would you give it a look and tell me if it could be better ?

[2022-03-09 16:39] meck93 commented on #15
@cvolant I think it looks good and makes sense this way. The library can anyway only be used together with Next and, therefore, React/Preact.

[2022-03-11 20:22] Bast1onCZ commented on #17
@cvolant I'm sorry, after updated to 1.7.1, I still experience the same issue as described above

[2022-03-13 18:44] c7nj7n opened #18 "Error when following the doc: No withTranslateRoutes high order component found in _app"
Hello, your component is exactly what I was looking for. I really hope I can make it work, from what I've read you exactly addressed my need (which is interestingly not a out-of-the-box thing from Next).

### What happened?

1. I successfully installed the package with `yarn add next-translate-routes`
2. I imported `withTranslateRoutes` on line 1 of `next.config.js` as follows: `const withTranslat

[2022-03-13 19:11] c7nj7n commented on #18
My bad, I skipped a step: Wrap you _app component with the withTranslateRoutes hoc

Sorry for the noise and keep it up!

[2022-03-13 19:11] #18 closed

[2022-03-14 13:56] michalpulpan opened #19 "_middleware.ts doesn't work on translated routes"
Hello,

I really enjoy this library but I'm facing very weird behavior when using NextJS 12 _middleware.ts function.

Using `_middleware.ts` simple as:
[code]

works when:
[code]
And shows "Hello, world!"

But when I add _routes.json, middleware stops working.

[code]

It's quite important for me. Thanks!

[2022-03-14 15:10] KVRA opened #20 "Without Lang Prefix"
The option :
withoutLangPrefix

has no documentation
How can I add this ?

[2022-03-16 16:53] KVRA opened #21 "Wrong sitemap"
The package next-sitemap is not getting the translations

How to generate a sitemap with the translated paths ?
I would able to do it manually but translateUrl and translatePath ( methods  ) don't seems to work well when the first parameter is a URL in another language that is not the default one,

ex : translateUrl('/home','fr-FR') == gets the path for French
But how to get the English path given

[2022-03-25 14:00] vana-dev opened #23 "support for router.push"
Hi, managing all links with "next-translate-routes / link" is very easy but in some cases I have to change routes through router.push which does not support translated route names. Any solution to this?

[2022-04-30 01:24] MichaelThomas0721 opened #25 "Existing routes not updating when _routes.json updates"
After updating previously existing routes in the _routes.json file and changing languages, it will still redirect to the old route and will give a 404. I was able to recreate with the example project, I downloaded it and ran it, then changed the french redirect from "blog" to "blo" and re-ran the project, I was still redirected to "blog" when switching languages. If there is something I have to do

[2022-04-30 01:26] MichaelThomas0721 commented on #25
Deleting the contents of the .next folder updates the file

[2022-04-30 01:26] #25 closed

[2022-05-11 11:10] wangwailok commented on #23
`import { translatePath } from "next-translate-routes/translateUrl";

useRouter().push(`${translatePath(`YOUR_PATH`, `YOUR_TARGET_LOCALE`)}`)

`

[2022-05-11 11:11] wangwailok commented on #23
[code]

[2022-05-11 11:15] wangwailok opened #26 "children is not assignable to <Link>"
![image](https://user-images.githubusercontent.com/7417322/167836855-70def7cf-efdd-4837-b6d7-9a32a01c0b19.png)
![image](https://user-images.githubusercontent.com/7417322/167836929-36ae620d-1b16-47df-8d2a-e656b11cb82e.png)

[2022-05-11 11:16] wangwailok commented on #26
My Next.js Version : 12.1.6

[2022-05-13 14:02] samvdst opened #27 "URL path does not update when switching the language"
Steps to reproduce:
- Example repo: https://github.com/samvdst/next-translate-routes-test
- Navigate to: http://localhost:3000/de/hilfsorganisationen
- Switch to EN
- URL is "http://localhost:3000/hilfsorganisationen" instead of "http://localhost:3000/charities"
- After page refresh, the URL changes to http://localhost:3000/charities

[2022-05-18 09:13] c7nj7n opened #28 "Cache issue upon changing the route name causes 404"
First of all: your library rocks, it allowed me to rather easily translate my routes. Many thanks for this!

My issue: I made a change in my _routes.json for the "en" key, renamed it from "trade" to "sell" (see below). The route keeps being translated through <Link> (from next-translate-routes/link) as "trade"... only upon `rm -rf .next/cache/*` this starts to work as expected. Unfortunately this

[2022-05-18 17:14] NikolaCava commented on #19
I have a similar problem, _middleware.tsx only works when I visit the "original" version of the route, but not when I use the translated route.

[2022-06-13 15:39] ozcancelik commented on #16
Hey,

Usually I use folder structure like this.

[code]

I think it would be great if there could be such an improvement. Could be "nice to have" improvement.

[2022-06-17 11:34] jeromeheissler opened #29 "Automatically make link rel=alternate for SEO?"
Can we use this plugin to automatically add this on each page based on _route.json :
[code]

Maybe we can make a hook that takes the current page, search all rewrite for each language and return the Head tag with all alternate pages inside

[2022-06-17 14:07] jeromeheissler commented on #26
You can declare this in a .d.ts file :
[code]

Or downgrade your project to React 17

[2022-06-27 10:50] frederikvanhevel commented on #17
also experiencing the same issue

[2022-07-06 12:53] zergu commented on #20
We have same issue with unintended adding locale to url path. We use language subdomains so we end up with broken urls.

[2022-07-11 13:26] nedimcimpohtec opened #31 "Error with unit tests"
There is page 404.tsx and unit test for the same page

import { act, render } from "test/utils";

[code]

But when I try to run tests...

● Test suite failed to run

    [next-translate-routes] - No translate routes data found. next-translate-routes plugin is probably missing from next.config.js

      325 | }
      326 |

          |                ^
      328 |

Note that there is skip but it st

[2022-07-13 20:02] larsvankleef opened #32 "Keep default language locale in the URL"
Would it be possible to keep the `defaultLocale` string in the URL? By default, it looks like it adds redirects to prevent this. But I would like to keep this part in the URL.

For example

[code]

[2022-07-14 16:30] Bast1onCZ commented on #17
Any updates on this, please? I've found out that this problem occurs only in client environment and therefore these errors are shown:
![image](https://user-images.githubusercontent.com/28895562/179031854-965307ce-a364-4937-a619-5ab74368e066.png)

[2022-07-15 09:51] cvolant commented on #17
I will work on it next week.

[2022-07-19 15:04] NitrousBGC commented on #29
I would like to know too ! It's so important for SEO and i can't manage to make it work with this..

[2022-07-22 14:03] #26 closed

[2022-07-22 14:54] cvolant commented on #32
Next consider that the default locale does not have a prefix, so that is the behavior implemented for now. You can remove the default locale: you will have the prefix for all urls, but of course you won't have the redirection from an url without prefix the the url with the `nl` prefix. It may be possible to add it yourself though, using redirects or middleware.

- Using redirect, I would try somet

[2022-07-22 14:54] #32 closed

[2022-07-22 15:05] cvolant commented on #31
Yes, that is because the next-translate-routes plugin automatically adds the next-translate-routes data to withTranslateRoutes.
You can add this to your unit tests:
[code]
To build the ntrData object, you can use the `parsePageTree` function from 'next-translate-routes/config'

Some additional docs are required...

[2022-07-22 15:10] cvolant commented on #28
I had also some hard time trying to figure out what was going on... Permanent redirects are indeed cached by the browser: emptying it will solve the issue in the browser. As for Vercel, I have no idea, I don't use it myself...

[2022-07-22 15:13] #23 closed

[2022-07-22 15:20] cvolant commented on #17
@Bast1onCZ Could you try 1.7.2? I think it fixes the issue this time, so I am closing this issue again. Please re-reopen it if you still have the problem.

[2022-07-22 15:20] #17 closed

[2022-07-22 15:26] cvolant commented on #19
@michalpulpan, @NikolaCava, could you try with the last version of Next (12.2.3)? Next team reworked the middleware ([see this issue](https://github.com/vercel/next.js/issues/35566#issuecomment-1159116801)).

[2022-07-22 16:48] NikolaCava commented on #19
I did, still one problem... now getServerSideProps wont run when I change the language

[2022-07-23 06:56] netdown opened #34 "TranslatePath does not respect ignored segment"
Hi,

I have the following route configuration in pages/landing/_routes.json:
`{
	"/": {
		"default": "."
	},
	"print": {
	  "hu": "foto",
	  "en": "prints"
	}
}`

I call translatePath like this:
`translatePath('landing/print')`

I would expect the function to return /foto (or /prints). However, it does return landing/foto. Note that the page urls are working fine, so my page loades at /foto and no

[2022-07-24 12:41] cvolant commented on #19
Hmm... It sounds more like a Next issue than a next-translate-routes issue... What do you think, @NikolaCava ?

[2022-07-24 12:47] cvolant commented on #34
Thanks for the report. It is a bug, but waiting for it to be solved, you can try with `"/": "."` instead of `"/": { "default": "." }`.

[2022-07-25 01:24] cvolant commented on #21
I never used next-sitemap. I gave a quick look to the readme, and if I understand correctly you want to leverage the transform function to translate the path...
The path you get is the file path prefixed by the locale : `translateUrl` handle this.
I you succeed to make it work, please open a pull request here to add the correct config to the readme ! 😃

[2022-07-25 02:10] cvolant commented on #20
Subdomains... I didn't thought about that...
Yes, it is not supported yet but should be.
I will post here when I start working on it, but I don't know yet when that will be possible. Feel free to work on it yourself : pull requests are welcome.

[2022-07-25 03:13] #15 closed

[2022-07-25 06:16] cvolant commented on #27
You can also change only one line in your code to make it work:
[code]

[2022-07-25 06:16] #27 closed

[2022-07-28 09:31] draxx318 opened #35 "Setting ?queryparam when on root triggers refresh"
The problem occurs when trying to set a query param when on the root page on non-default locale only. Setting the query param should trigger a global component to render, instead, the page refreshes and render the component. For some reason, it requested a script that is wrong (see image).

![error](https://user-images.githubusercontent.com/30637513/181473094-a2ea9690-2670-45dd-8dd7-c1cefd344dae.p

[2022-08-01 12:19] draxx318 commented on #29
Very important feature. Did anyone manage to accomplish that with the current state of the package?

[2022-08-01 13:02] NitrousBGC commented on #29
Finally I changed package to make it work correctly.. You can check **next-multilingual**, they have all of this incorporated. (translations, translated routes, auto rel=alternate and rel=canonical,...) And for the creator of next-translate-routes, next-multilingual could be a good inspiration to focus more on **SEO**.

I hope we will find the ultimate package for translations including everything

[2022-08-02 07:51] draxx318 opened #36 "Dynamic pages without index.js not translating trough translatePath"
Example folder structure:

[code]

_routes.json looks like this:
[code]

translatePath usage:
`translatepath('/destinations', 'de')`

In this case, translatePath returns the original page name instead of the translation. This only happens to dynamic routes without an index.js page.

Edit:
On folder structure with catch all routes works flawlessly.

[code]

[2022-08-02 08:59] JamesHemery commented on #19
I think i've related issue. When I add a next 12.2 middleware (stable syntax), when a click on a Link the getStaticProps methods no longer work properly and _app pageProps is empty. All works perfectly when I reload the page.

[2022-08-03 09:48] cvolant commented on #19
I reproduced the bug, and published the repro in [this branch](https://github.com/hozana/next-translate-routes/tree/repro/get-static-props-with-middleware-issue-19). As soon as a middleware is set up, getStaticProps fail for non default locales.

I looked into it but I did not find where it comes from yet.

[2022-08-12 08:47] gehaktmolen commented on #29
I am doing the following to get alternative urls.

src/utils/localize-helpers.ts:
[code]

src/pages/_app.tsx:
[code]

[2022-08-12 09:04] cvolant commented on #19
Some news: I investigated this bug further. It appears to be a Next issue.
I reported [the issue in the next repo here](https://github.com/vercel/next.js/issues/39531).

The problem occurs when a matcher is declared in the middleware config. So, as long as the issue is not solved, we have 2 annoying options:
- either stick with next@12.1 and the previous middleware synthax,
- or remove the matcher

[2022-08-17 13:52] cvolant commented on #36
Yes, in the first config, there is not any page file matching the `/destinations` path. You could also add an `pages/destinations/index. js` file.

[2022-08-17 13:52] #36 closed

[2022-08-18 04:47] cvolant commented on #34
Ok, I tried to solve this bug, and did not reproduce it until I saw that you forgot `translatePath` second argument: the locale. You don't told it in what language you want to translate the path...

[2022-08-18 04:47] #34 closed

[2022-08-18 09:18] cvolant commented on #31
@nedimcimpohtec I added a `createNtrData` helper in v. 1.8.0. [See how to use it in the docs](https://github.com/hozana/next-translate-routes#outside-next).

[2022-08-18 09:18] #31 closed

[2022-08-18 09:21] cvolant commented on #35
I cannot reproduce that bug. Could you make a minimal reproduction?

[2022-08-22 23:36] harrychy8 opened #39 "yarn install does not work on windows"
![image](https://user-images.githubusercontent.com/15678482/186037718-b0f9d686-b910-43eb-82f6-2b82e656c541.png)

When I run yarn install, it says that "rm" is not recognized. However, when I type it alone (bottom of the image), it works. Have anyone seen this before? Thank you very much for your help!

[2022-08-24 22:10] nedimcimpohtec opened #40 "Duplication with routesTree"
I have crated routesTree and I have 2 urls
/user - just user data
/user/cards - user cards

So inside routesTree.json

[code]
Now when I use link component and have link to user/cards translation is working fine but just for user is not working, only when I add new object for user without this children array

[2022-08-29 09:51] c7nj7n commented on #28
I've been in contact with Vercel's support and this clearly is on their end.

[2022-08-29 09:51] #28 closed

[2022-09-07 09:59] cvolant commented on #40
You must add the index child among `user` children.
[code]

[2022-09-07 09:59] #40 closed

[2022-09-08 20:06] yzmp opened #42 ""No translate routes data found. next-translate-routes plugin is probably missing from next.config.js""
I keep getting this error although I followed all the basic steps. I can even see the debug log in the terminal with all the redirects and rewrites created by the plugin, but somehow I'm still getting this error.

What I did:

1. Wrap you next config with the next-translate-routes plugin
[code]

2. Define your routes
[code]

3. Wrap you \_app component with the withTranslateRoutes hoc
[code]

What

[2022-09-12 11:33] gehaktmolen opened #43 "Query parameter is added to the URL within the address bar."
Everything has been working fine so far. Love your work. However I noticed a problem where the query parameter for dynamic pages is added to the URL within the address bar. I setup a simple example here to reproduce the problem:
[codesandbox example](https://codesandbox.io/s/test-translate-routes-with-pathname-q5xkvz?file=/pages/index.js)

Even when I check some of my older branches of 4 weeks ago

[2022-09-22 10:05] simonhenke commented on #42
I had the same issue. After many unsuccessful tries to fix this, I installed v.1.7.2 instead of the latest release and now it's working fine. I'm on Nextjs version 11.1.2 with Preact 10.5.14.

[2022-09-22 11:54] simonhenke commented on #42
Just upped the version incrementally and it seems like v. 1.8.0-1 is the latest version that still works for me.
So 1.8.0-2 seems to be the issue in my case, or the following commit:
https://github.com/hozana/next-translate-routes/commit/8bfee0f14f05e0b35e1e705711ff980e5e3e551d

any idea @cvolant ?

[2022-09-22 17:28] cvolant commented on #42
Thank you both for reporting the issue. Having identified the precise version that introduced the bug is a great help. I will look at it as soon as I can.

[2022-09-23 14:51] cvolant commented on #43
@gehaktmolen, thanks for reporting. I experienced the same problem. A complicated one: it took me a few days to rewrite a sensitive part. You can try the lastest prerelease: 1.9.0-2. I think it is nearly ready to be published as 1.9.0, but if you can try it and confirm that it works well, it would help.

[2022-09-25 21:27] krystianjj commented on #42
Hi, I have the same issue, but my problem is little difference, because I use NX monorepo, and if I want to work next-translate in this monorepo I must add env variable `NEXT_TRANSLATE_PATH=apps/projectName` I think there is similar problem for me. Is there any variable where I can set up this? My error is `Error: [next-translate-routes] - No pages folder found.`

[2022-09-27 13:11] dsm-ostec opened #44 "translate-routes and language change"
Hey there,

I'm using next-translate-routes and it works fine so far. But when I change the language, the paths were not redirected, but the site-content is correct.
My code for languageChange is like this:

[code]

my i18 config:

[code]

and my _routes.json:
[code]

eg.:
I am on page /de/kontakt and use the languageSwitcher. The url changed to /kontakt. The component "contact" is correctly loade

[2022-09-29 06:47] dsm-ostec commented on #44
Hello again. Have a look at this sandbox-code: [Sandbox Language change translated routes](https://7b7st6.sse.codesandbox.io/news).
If you are on page /news  (englisch) an click to button "change to fr" url changes to "fr/news" instead of "fr/actualite" but the content of the page is rendered correct. After reload the url is correct.

EN:
![image](https://user-images.githubusercontent.com/12607634

[2022-09-29 12:08] JacobSoderblom opened #45 "Breaks jsxImportSource in Nextjs"
First of all, thank you for the time you put into this!

When running with this package in development mode I get `Module not found: Can't resolve` for the package I'm using as `jsxImportSource`. I have followed the guide presented on the README, is there anything I'm doing wrong? Or is it just not meant to work with development mode?

I'm running 1.9.0-2

[2022-09-30 11:32] cvolant commented on #44
! I finally got it. It took me a while but here is the problem: you set the `as` prop to `asPath` in `router.push`. next-translate-routes lets you use a custom as prop if you want to: it means "I want to go there but then here is the url I want to display".

[2022-09-30 11:32] #44 closed

[2022-09-30 11:36] cvolant commented on #45
It works in dev mode: you can check in the exemple in the repo. I never set `jsxImportSource` yet, not sure how it works. Couldn't it be an issue with the webpack configuration?

[2022-09-30 12:19] JacobSoderblom commented on #45
Yea it probably is! Nextjs is reading the `jsxImportSource` from the `tsconfig.json` directly, and for package like `theme-ui` you need to set the `jsxImportSource`.

[2022-09-30 13:46] JacobSoderblom commented on #45
Got it working as expected now, must have been something in my project! Thanks for the help any way!

[2022-09-30 13:46] #45 closed

[2022-10-03 07:41] JacobSoderblom commented on #21
This is how I got it working

[code]

[2022-10-04 14:10] Marko-Matijevic commented on #44
I have the same issue. First it shows original path and after refresh shows translated path. I am not sure how did you fix it with `as` prop could you elaborate more @cvolant? Thanks

[2022-10-07 14:56] cvolant commented on #42
Currently working on this issue...
@yzmp, @simonhenke, ...
1. Are you on Windows?
2. Could you give me the path to you `_app` file? Something like `/pages/_app.js`...

[2022-10-07 14:56] cvolant commented on #42
@krystianjj your problem is different: what you are looking for is probably the `pageDirectory` config.
In `next.config.js`:
[code]
See the [configuration section in the docs](https://github.com/hozana/next-translate-routes#configuration).

[2022-10-11 19:48] krystianjj commented on #42
@cvolant
Unfortunately this did not solve the problem.
I want to use your packege with this framework -> https://nx.dev/

[2022-10-12 08:06] cvolant commented on #42
@yzmp I suspect that it comes from slashes in paths: `\` on Window and `/` on Linux.
I released next-translate-routes@1.9.0-3 yesterday, and it includes an attempt to fix this issue: could you try it and tell me if it works?

[2022-10-12 15:07] simonhenke commented on #42
@cvolant I'm also on Windows and the path is `/pages/_app.page.tsx`.
I'm excited to try out the new version (probably tomorrow), I'll let you know if it helped :) Thanks!

[2022-10-13 14:14] simonhenke commented on #42
@cvolant On 1.9.0-3, when I start the app, I now get the following error:
[code]

[2022-10-13 23:36] kruzliak-juraj opened #46 "1.9.0-3 - navigation to wrong translation reloads the app"
Since I can not use 1.8.0 due to [this issue](https://github.com/hozana/next-translate-routes/issues/42) I am using the 1.9.0-3

I have this structure:

[code]

in routes.json is defined:

[code]

## The issue

When navigating with `useRouter`  or `Link` from `next-translate-routes/link` and trying to navigate to the 'incorrectly' translated path the part of path that should be translated stays th

[2022-10-25 02:05] phxgg opened #47 "Trans component doesn't seem to work in this example"
So this is the code that I have

[code]

[code]

This is the error thrown at me: `Error: Multiple children were passed to <Link> with `href` of `/auth/sign-up` but only one child is supported https://nextjs.org/docs/messages/link-multiple-children`

I've tried this as well but same error is thrown.

[code]

[code]

It works fine as a link if I only pass `<Link />` in the components prop but obviou

[2022-10-25 02:14] phxgg commented on #47
Jesus I'm an idiot for posting this in the wrong repo. Please delete this. lol

[2022-10-25 02:14] #47 closed

[2022-11-01 20:42] aleehedl opened #48 "Plugin can't be used with @sentry/nextjs"
When using the [@sentry/nextjs plugin](https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/), the Sentry's HoC  `withSentryConfig` modifies the `_app.tsx`'s output quite a bit. The result is that `next-translate-router/plugin/loader.ts` fails while looking for the import of `next-translate-routes`.

Any ideas how to deal with this?

[2022-11-02 10:42] cvolant commented on #29
v1.9.0 is out, with [two new helpers, fileUrlToUrl and urlToFileUrl](https://github.com/hozana/next-translate-routes#translateuntranslate-urls).
The docs now suggests [a piece of code](https://github.com/hozana/next-translate-routes#alternate-pages-seo), quite similar to the above, to add alternate links.
It seemed better to me to leave it like this, to avoid stepping out of next-transate-routes s

[2022-11-02 10:42] #29 closed

[2022-11-02 10:42] #35 closed

[2022-11-02 10:57] cvolant commented on #46
Hi @kruzliak-juraj, thanks for the report. I reworked this part before publishing 1.9.0, and it should work now.
I tried to be more compliant with Next docs, and the behaviour may surprise you sometimes: if you want the locale in the href to be taken into account, you need to set `locale` to `false`.
Please reopen the issue if you still have bugs.

[2022-11-02 10:57] #46 closed

[2022-11-02 10:58] cvolant commented on #43
@gehaktmolen, v1.9.0 is out, and I don't experience this issue any more. It you do, please reopen it.

[2022-11-02 10:58] #43 closed

[2022-11-02 10:58] cvolant commented on #39
Fixed with 1.9.0.

[2022-11-02 10:58] #39 closed

[2022-11-02 11:01] cvolant commented on #21
I linked toward @JacobSoderblom's suggestion in the docs.

[2022-11-02 11:01] #21 closed

[2022-11-02 11:05] cvolant commented on #48
Thanks for this report, @aleehedl, it will probably save me some time debugging, since we will setup this plugin in the coming weeks. I will look into it soon.

[2022-11-03 22:01] StephaneBischoff opened #49 "Route using translated locale/.json file"
Hi,

Looks like the `next-translate-routes` affects the next-i18n translation file logic.
The 18n file (namespace) that is requested is translated.

Example folder structure:
[code]

For some reason, locally everything works fine for both language. The correct `about.json` file is fetched.
But once deployed to Vercel, the `.json` file that is request is not `about.json` but `notre-histoire.json` ?

[2022-11-06 14:13] cvolant commented on #49
`https://..../_next/data/UhEhAsJqgcuNptbGTt7v2/fr/about.json` is not a namespace file but a static props file.
I had this problem too some time ago, but I thought it was fixed...
What version of next-translate-routes do you use? The last, 1.9.0? If not, can you try with it?
Can you post here the code you use to link towards the about page?

[2022-11-07 09:17] ViktorVojtek opened #50 "Can't install the latest version v1.9.0 with yarn"
Yarn throws the following errors and fail to add package.

https://registry.yarnpkg.com/@next/swc-android-arm64/-/swc-android-arm64-12.2.3.tgz: Request failed "502 Bad Gateway"
https://registry.yarnpkg.com/@next/swc-win32-arm64-msvc/-/swc-win32-arm64-msvc-12.2.3.tgz: Request failed "502 Bad Gateway"

Version 1.8.0 works fine.

[2022-11-10 20:04] elliot619 opened #51 "Does this plugin support locale format en-US, es-MX, etc?"
So far I'm not able to make this plugin work in my app which has the locale configured in 5 characters as en-US, fr-CA, es-MX, etc.
Is this plugin intended with this format? Thanks

Here is my next.config.js i18n setup:

![image](https://user-images.githubusercontent.com/8999155/201194664-0bf65930-5df8-49c8-9e45-8e89c6ad15a5.png)

Here is how I have set up the _routes.json:

![image](https://user-

[2022-11-11 16:00] semy opened #52 "Add Next 13 support"
At the moment I get the following error when I update to NextJS 13.0.3:

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string or an instance of Buffer or URL. Received undefined
    at Object.readdirSync (node:fs:1446:10)
    at getAllRoutesFiles (/Users/.../node_modules/next-translate-routes/plugin/routesFiles.js:46:39)

[2022-11-13 13:00] IvoHohl commented on #16
Any news on that?
Got some problems with dynamic pages. When I use next-translate link for dynamic pages the "parameter" is removed in the link. I think this has something to do with the missing feature but maybe its also another "problem".

E.g.
1. I'm rendering some static Path pages like that
<img width="995" alt="image" src="https://user-images.githubusercontent.com/52882693/201522744-4ca2557b

[2022-11-16 13:00] netdown commented on #52
src/plugins/routesFiles.ts line 17 should be changed to:
`directoryPath = findPagesDir(process.cwd()).pagesDir,`

Note that this is the TS file, if you want to make a temporary and dirty fix, you must change the compiled js file.

[2022-11-22 15:28] cvolant commented on #51
I tried with 5 characters locales, but everything worked fine.
Did you follow the [_how to_ section](https://github.com/hozana/next-translate-routes#how-to) in the docs? If yes, could you provide a minimal reproduction of you issue?

[2022-11-22 15:30] cvolant commented on #50
I can't reproduce it... It is surprising because next-translate-routes is not related to swc-android-arm64...
Can you provide a minimal reproduction?

[2022-11-22 17:33] cvolant commented on #52
I fixed the directoryPath issue in 1.9.1, but it is unfortunately not enough to really support next 13, even though it may seem to while navigating.

Next 13 introduce 2 new features that need a lot of work on next-translate-routes: `app/` directory, and optimistic navigation (don't ask me what is it...). The first step is optimistic navigation, so that we can update next and benefit from bug fixe

[2022-11-22 17:35] cvolant commented on #48
@aleehedl I looked into it, struggled to understand what sentry was doing with their new proxyLoader, and finally found a simple solution: changing wrapping order. I added it [in the docs](https://github.com/hozana/next-translate-routes#with-sentrynextjs).

[2022-11-22 17:35] #48 closed

[2022-11-22 17:36] cvolant commented on #42
@simonhenke Could you try the latest version? next-translate-routes@1.9.1

[2022-11-22 17:38] cvolant commented on #42
@simonhenke could you try the latest version? next-translate-routes@1.9.1

[2022-11-23 16:14] simonhenke commented on #42
@cvolant I'm still getting the same error (`ERR_INVALID_ARG_TYPE`). In our project we currently have a branch on which we updated to Next12. I'll test the latest version of this lib there as well, maybe that works.

[2022-11-23 16:25] simonhenke commented on #42
@cvolant Seems to work on Next12, nice! :)

[2022-11-23 16:32] zto-sbenning opened #53 "Typescript support for Link properties"
The following code is not valid on typescript 4.8.4:

[code]

It generate the error:

[code]

`target="_blank"` causes the error.

It might be because of the declaration of `next-translate-routes/link`:

[code]

as `LinkProps` seems to only be the internal props for `next/link` and those does not includes `React.AnchorHTMLAttributes<HTMLAnchorElement>`:

[code]

I might be all wrong, but I think t